.gray_background{background-color:#444;}
.logo_uniplug{font-size: 38px;}
/*Стили для footer-элементов*/
footer{padding-top:20px;padding-bottom:20px;}
.foot_header{text-transform:uppercase;font-weight:bold;font-size:1.2em;}
.foot_menu,
.foot_menu-socials{list-style: none;padding: 0;}
.foot_menu{min-width:118px;}
.foot_menu-socials{min-width: 106px;}
.foot_menu a.text-white, 
.foot_menu-socials a.text-white,
.foot_address,
.foot_contacts{text-transform:uppercase;font-size:0.8em;}
.foot_contacts>span{text-transform: uppercase;}
/*Стили для header-элементов*/
.header_menu>li>a{color: transparent !important;text-shadow: 0px 0px 0px #ffffff38;text-transform: uppercase;}
.header_menu,
div.navbar-collapse{height:100%;}
nav.navbar{padding-top:0;padding-bottom:0;}
li.nav-item{height:100%;display:flex;align-items:center;}
li.nav-item:hover,li.nav-item:focus{background-color:#3a3a3a;}
.menu_next-level{background-color:#363636;padding: 0;margin: -1px;}
.dropdown-item:focus, .dropdown-item:hover{background-color:#22cfff !important;}
@media all and (min-width:768px){
	li.active{background-color: #22cfff;height: 100%;align-items: center;display: flex;}
	li.active>a{color: white !important;text-shadow: 1px 1px 1px white;}
}	
/*Стили для блока About*/
section{padding-bottom:25.5vh;}
.about_element img{width:75px;height:75px;margin-top:20px;}
.block_header{padding-bottom:25px;}
.about_element h2{color:#616161;}
.block_header h1{color:#3e3e3e;}
.about_element p, .block_header p{color:gray;}